.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: #fff;
    top: 90px;
    right: 40px;
    z-index: 10;

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .empty-message {
        font-size: 18px;
        margin: 50px auto;
    }
}
